extends ../layout

block content
  each user, u in users
    if user._id == server.consultant
      - user_name = user.profile.name || user.email

  h1=server.name
  p.lead #{server.client} - #{user_name}
  hr
  .row
    .col-md-2
    .col-md-8
      ul.list-group
        li.list-group-item State: on
        li.list-group-item Public IP: #{server.ip}
        li.list-group-item Location: #{droplet.region.name.substr(0,droplet.region.name.length-2)}
        li.list-group-item Notes: #{server.notes || ''}